/* style gallery as grid */
.gallery {
    margin: 20px auto;
    display: grid;
    max-width: 900px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* responsive grid without media query */
    grid-gap: 1rem;
}

.gallery img {
    width: 100%;
}

/* style search bar */
.search-bar input[type=search] {
    display: block;
    margin: 20px auto 30px;
    width: 500px;
    max-width: 90%;
    height: 50px;
    border: lightgrey solid 2px;
    border-radius: 5px;
    font-size: 15px;
}

#search::placeholder {
    color: grey;
    font-size: 16px;
}